# Virtual Environments
env/
venv/
.venv/

# Python
__pycache__/
*.py[cod]
*.egg-info/
dist/
build/
*.so

# Testing / Coverage
.pytest_cache/
.coverage
htmlcov/

# Linting / Type Checking
.mypy_cache/
.ruff_cache/

# Environment Variables (secrets)
.env

# Jupyter Notebook
.ipynb_checkpoints/

# IDE and Editor
.vscode/
.idea/

# OS Files
.DS_Store
Thumbs.db

# Logs
logs/

# GitHub Configuration
.github/
